@font-face {
    font-family: 'KG Red Hands';
    src: url('KGRedHands.woff2') format('woff2'),
        url('KGRedHands.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

